<div class="text-center">

    <h1 class="display-4">Mi nombre es Daniel Barrera </h1>
    <h2>Soy estudiante de ingeniería en sistemas</h2>
    <img id="foto" src="~/img/Me - Trim.jpg" alt="Mi foto" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/img/net1.png" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>Bienvenido a mi portafolio, mi nombre es Daniel Alejandro Barrera Quezada y soy estudiante de ingeniería en sistemas informáticos. 
            Actualmente curso mi cuarto año de carrera y estoy buscando desarrollarme como profesional.</p>
    </div>
</div>
